#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.cargar{
  background-color: green;
  padding: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 2px;
}
.grafico{
  margin-top: 20px;
  background-color: rgb(235, 224, 224);
}
.btns{
  display: flex;
  background: rgb(8, 0, 0);
  gap: 10px;
  padding: 10px;
}

.btns button{
  border: none;
  color: white;
  border-radius: 5px;
  padding: 5px;
  background-color: rgb(187, 128, 1);
  font-weight: bolder;
  cursor: pointer;
}

.valores{
  width: 100%;
  /*background: red;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.valores .table-vecinos{
  /*background: yellowgreen;*/
  width: 100%;
}

.valores .table-vecinos table{
  
  width: 100%;
  border-collapse: collapse;
}



thead {
  background-color: green;
  color: white;
}

th{
  font-weight: bold;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  
}

/* Optional: Add some hover effect */
tbody tr:hover {
  background-color: #f5f5f5;
}

/**---------------------------------------------*/

.valores .cont-recomend{
  background: black;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
}

.valores .cont-recomend .title{
  background: red;
  color: whitesmoke;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 5px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.valores .cont-recomend .title button{
  border: none;
  background: white;
  padding: 0px 15px;
  cursor: pointer;
  font-weight: bolder;
}

.valores .cont-recomend .box-peli{
  /*background: yellow;*/
}
.valores .cont-recomend .box-peli .imagenes{
  display: flex;
  flex-wrap: wrap;
  /*background: greenyellow;*/
  justify-content: space-between;
  padding: 5px;
  gap: 5px;
  
}


.box-peli .imagenes .netflix{
  background: wheat;
  width: 20%;
}

.box-peli .imagenes .netflix p{
  margin: 0;
  padding: 2px;
  color: black;
}

.box-peli .imagenes .netflix img{
  box-sizing: border-box;
  width: 100%;
}